<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- PERMISO DE INTERNET -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InventarioApp"
        tools:targetApi="31">

        <!-- ACTIVIDADES EXISTENTES -->
        <activity android:name=".LoginActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Tus otras actividades -->
        <activity android:name=".RegisterActivity"/>
        <activity android:name=".InicioActivity"/>
        <activity android:name=".carpproductos.InventarioActivity"/>
        <activity android:name=".carpcategorias.CategoriasActivity"/>
        <activity android:name=".carpcategorias.AgregarCategoriaActivity"/>
        <activity android:name=".carpproductos.AgregarProductosActivity"/>
        <activity android:name=".carpproductos.StockActivity"/>
        <activity android:name=".carpproveedores.ProveedoresActivity"/>
        <activity android:name=".carpproveedores.AgregarProveedorActivity"/>
        <activity android:name=".carpreporte.RegistrarReporteActivity"/>
        <activity android:name=".carpproveedores.EditarProveedorActivity"/>
        <activity android:name=".carpcategorias.EditarCategoriaActivity"/>
        <activity android:name=".carpproductos.BajoStockActivity" />
        <activity android:name=".carpproductos.AltoStockActivity" />
        <activity android:name=".carpproductos.EditarProductoActivity"/>
        <activity android:name=".carpreporte.ReporteDelDiaActivity"/>
        <activity android:name=".carpreporte.ReporteFiltradoActivity"/>

        <!-- NUEVA ACTIVIDAD PARA GOOGLE MAPS -->
        <activity android:name=".MapsActivity" />

        <!-- CLAVE API DE GOOGLE MAPS -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC-x1fioES_IebSIFMppMZ7GIVUxeJUwIQ" />

    </application>

</manifest>
